<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkZxRkR7H5L8fEOVWpwPPA5rBI9wjk9hI</string>
	<key>GCM_SENDER_ID</key>
	<string>566063454023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.didriksen.kaj.YATDA</string>
	<key>PROJECT_ID</key>
	<string>yatda-backend</string>
	<key>STORAGE_BUCKET</key>
	<string>yatda-backend.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:566063454023:ios:ea739513d6cc59b6e35e62</string>
</dict>
</plist>